.divimgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 935px;
  margin-top: 130px;
  margin-bottom: 28px;
  padding: 0;
  gap: 28px;
  cursor: pointer;
  z-index: 8;
}

.divimg {
  position: relative;
  width: 293px;
  height: 293px;
}
.img__description {
  margin: 0 auto;
  text-align: center;
  padding-top: 45%;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.815);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.2s;
}

.divimg:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.pic {
  object-fit: cover;
  width: 293px;
  height: 293px;
  -webkit-filter: brightness(100%);
}

.pic:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.img-modal {
  margin: 0 auto;
  width: -webkit-fill-available;
  object-fit: cover;
}
.imgmodal-wrapper {
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}
.button-delete {
  background-color: transparent;
  border: 1px solid #cf0700 !important;
  color: #ffffff;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  width: 100px;
  margin: 20px auto;
  height: 33px;
  transition: 250ms;
}

.button-delete:hover {
  font-weight: bold;
  background-color: #cf0700;
  color: white;
  transform: scale(1.05);
}

@media (max-width: 1020px) {
  .divimgs {
    width: 704px;
  }
  .divimg {
    width: 216px;
    height: 216px;
  }
  .pic {
    width: 216px;
    height: 216px;
  }
}

@media (max-width: 710px) {
  .divimg {
    width: 33%;
  }

  .pic {
    width: -webkit-fill-available;
  }
  .divimgs {
    margin-top: 175px;
    gap: 3px;
  }
}
