.divimgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 935px;
  margin-top: 130px;
  margin-bottom: 28px;
  padding: 0;
  gap: 28px;
  cursor: pointer;
}

.pic {
  object-fit: cover;
  width: 293px;
  height: 293px;
  -webkit-filter: brightness(100%);
}

.pic:hover {
  -webkit-filter: brightness(60%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 1020px) {
  .divimgs {
    width: 704px;
  }
  .pic {
    width: 216px;
    height: 216px;
  }
}

@media (max-width: 710px) {
  .divimgs {
    margin-top: 220px;
    gap: 3px;
  }
}
