.divimgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background: grey; */
  margin-top: 130px;
  margin-bottom: 28px;
  padding: 0;
  gap: 28px;
  cursor: pointer;
}

/* .imgcontainer {
  width: 293px;
  height: 293px;
} */

.pic {
  object-fit: cover;
  width: 293px;
  height: 293px;
}

@media (max-width: 550px) {
  .divimgs {
    margin-top: 220px;
  }
}
