#navmenu {
  position: fixed;
  width: 100%;
  align-items: center;
  display: flex;
  height: 110px;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
  background-color: black;
  box-shadow: 0px 0px 10px 1px #2a2a2a29;
  z-index: +1;
}

#navmenu div {
  display: flex;
  align-items: center;
}
.contenedorNav {
  justify-content: space-between;
  width: 935px;
}

a#logo {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 8px;
  margin-left: -2px;
  min-width: 150px;
  width: 240px;
}

input[type='file'] {
  display: none;
}
.custom-file-upload {
  width: 140px;
  color: rgb(209, 209, 209);
  border: 2px solid rgb(255, 255, 255);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 30px 0 0 30px;
}

.custom-file-upload:hover {
  box-shadow: -3px 0px 5px 3px #2a2a2a78;
}

.btn-up {
  width: 60px;
  background-color: white;
  border: 2px solid rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  border-radius: 0 30px 30px 0px;
}

.btn-up:hover {
  box-shadow: 3px 0px 5px 3px #2a2a2a78;
}

@media (max-width: 1020px) {
  .contenedorNav {
    width: 704px;
  }
}

@media (max-width: 710px) {
  #navmenu {
    height: 200px;
  }
  .contenedorNav {
    flex-direction: column;
    justify-content: center;
  }
}
