#navmenu {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 110px;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  box-shadow: 2px 2px 6px #2a2a2a78;
  z-index: +1;
}

a#logo {
  padding: 0;
  width: 240px;
  margin-top: 7px;
  max-height: 70px;
  margin-left: 7px;
  font-size: 0;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 8px;
  min-width: 30px;
}

#navmenu div {
  display: flex;
  align-items: center;
}

#navmenu div a {
  display: flex;
  align-items: center;
  padding: 0 3px;
  color: white !important;
  text-decoration: none !important;
}
#navmenu div a img {
  height: 20px;
  min-width: 20px;
  width: 20px;
  z-index: auto;
  margin-right: 2px;
  margin-left: 3px;
}

input[type='file'] {
  display: none;
}
.custom-file-upload {
  width: 140px;
  color: rgb(209, 209, 209);
  border: 2px solid rgb(255, 255, 255);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 30px 0 0 30px;
}

.btn-up {
  width: 60px;
  background-color: white;
  border: 2px solid rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  border-radius: 0 30px 30px 0px;
}
